.chats-list {
    overflow-y: auto;
}

.body-messages {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
}

@media (min-width: 1px) and (max-width: 576px){
}

@media (min-width: 576px) {
}
